<ion-menu [content]="content">

    <ion-toolbar primary>
        <ion-title>Menu</ion-title>
    </ion-toolbar>

    <ion-content class="app">
        
        <ion-list>
            <ion-list-header small class="menu-header">
            Accueil
            </ion-list-header>
            <button ion-item menuClose ion-item *ngFor="#p of app.pages" (click)="openPage(p)">
                <ion-icon item-left [name]="p.icon"></ion-icon>
                {{p.title}}
            </button>
        </ion-list>

        <ion-list *ngIf="app.usermode == 'ca'">
            <ion-list-header small class="menu-header">
            Directeur/Muc/CDG
            </ion-list-header>
            <button ion-item menuClose ion-item *ngFor="#p of app.caPages" (click)="openPage(p)">
                <ion-icon item-left [name]="p.icon"></ion-icon>
                {{p.title}}
            </button>
        </ion-list>
        
        <ion-list *ngIf="(app.usermode == 'admin') || (app.usermode == 'secoff')">
            <ion-list-header small class="menu-header">
            Administrateur
            </ion-list-header>
            <button ion-item menuClose ion-item *ngFor="#p of app.admPages" (click)="openPage(p)">
                <ion-icon item-left [name]="p.icon"></ion-icon>
                {{p.title}}
            </button>
            <div *ngIf="(app.usermode == 'secoff')">
              <button ion-item menuClose ion-item *ngFor="#p of app.secPages"  (click)="openPage(p)">
                <ion-icon item-left [name]="p.icon"></ion-icon>
                {{p.title}}
            </button>
            </div>
        </ion-list>
        
        <ion-list>
            <ion-list-header small class="menu-header">
            Profile
            </ion-list-header>
            <button ion-item menuClose ion-item *ngFor="#p of app.prfPages" (click)="openPage(p)">
                <ion-icon item-left [name]="p.icon"></ion-icon>
                {{p.title}}
            </button>
        </ion-list>
        

        
    </ion-content>

</ion-menu>

<ion-nav id="nav" [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
