<ion-navbar primary *navbar>
    <ion-buttons left>
        <button menuToggle *ngIf="(app.usermode != 'invite')">
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title>Présentation</ion-title>
</ion-navbar>

<ion-content no-padding>
    <p>
    <ion-card>
        <img top class="hhhlogo" src="build/pages/vv-slides/img/logo_hhh.png"><img>
        
            <ion-card-title center>
                <br/>
                <p align="center"><font size="3px">Nos métiers / Nos Enseignes</font></p>
                <p align="center"><font size="1px">...faite defiler les logos en bas...</font></p>
            </ion-card-title>
            <ion-card-content>
            </ion-card-content>
    </ion-card>
    <ion-slides pager>
        <!--(slideChangeStart)="onSlideChangeStart($event)"-->
        <ion-slide *ngFor="#slide of slides">
            <img [src]="slide.image" class="slide-image" />
            <h2 class="slide-title" [innerHTML]="slide.title"></h2>
            <p [innerHTML]="slide.description"></p>
            <br/>
            <br/>
        </ion-slide>
    </ion-slides>
</p>
</ion-content>